{$layout}
{$template "node_menu"}

{$template "/left_menu_with_menu"}

<div class="right-box with-menu">
    <form method="post" class="ui form" data-tea-action="$" data-tea-success="success">
        <input type="hidden" name="nodeId" :value="node.id"/>
        <table class="ui table definition selectable">
            <tr>
                <td class="title">节点名称 *</td>
                <td>
                    <input type="text" name="name" maxlength="50" ref="focus" v-model="node.name"/>
                </td>
            </tr>
            <tr>
                <td>所属集群</td>
                <td>
                    <span v-if="node.primaryCluster != null" class="ui label basic small">{{node.primaryCluster.name}}</span>
                    <span v-if="node.secondaryClusters.length > 0"  v-for="cluster in node.secondaryClusters" class="ui label basic small grey">{{cluster.name}}</span> &nbsp; <a href="" @click.prevent="updateClusters">[修改]</a>
                    <div v-show="showClustersBox">
                        <node-clusters-selector :v-primary-cluster="node.primaryCluster" :v-secondary-clusters="node.secondaryClusters" @change="changeClusters"></node-clusters-selector>
                    </div>
                </td>
            </tr>
            <tr>
                <td>IP地址 *</td>
                <td>
                    <node-ip-addresses-box :v-ip-addresses="ipAddresses"></node-ip-addresses-box>
                    <p class="comment">用于访问节点和域名解析等。</p>
                </td>
            </tr>
            <tr>
                <td>所属区域</td>
                <td>
                    <node-region-selector :v-region="node.region"></node-region-selector>
                    <p class="comment">设置区域后才能根据区域进行流量统计和计费。</p>
                </td>
            </tr>
            <tr>
                <td>所属分组</td>
                <td>
                    <node-group-selector :v-cluster-id="clusterId" :v-group="node.group"></node-group-selector>
                    <p class="comment">仅用来筛选服务。</p>
                </td>
            </tr>
            <tr>
                <td colspan="2"><more-options-indicator></more-options-indicator></td>
            </tr>
            <tbody v-show="moreOptionsVisible">
                <tr>
                    <td>是否启用</td>
                    <td>
                        <div class="ui checkbox">
                            <input type="checkbox" name="isOn" value="1" v-model="node.isOn"/>
                            <label></label>
                        </div>
                        <p class="comment">如果不启用此节点，此节点上的所有服务将不能访问。</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <submit-btn></submit-btn>
    </form>
</div>