{$layout "layout_popup"}

<h3 v-if="!isReverse && cacheRef == null">添加缓存条件</h3>
<h3 v-if="!isReverse && cacheRef != null">修改缓存条件</h3>
<h3 v-if="isReverse && cacheRef == null">添加不缓存条件</h3>
<h3 v-if="isReverse && cacheRef != null">修改不缓存条件</h3>
<form method="post" class="ui form" data-tea-action="$" data-tea-success="success">
    <table class="ui table definition selectable">
        <tbody is="http-cache-ref-box" :v-cache-ref="cacheRef" :v-is-reverse="isReverse"></tbody>
    </table>
    <p class="comment" v-if="isReverse">如果请求满足当前添加的条件，则不缓存。</p>
    <submit-btn>确定</submit-btn>
</form>