<first-menu>
    <menu-item href="/servers/iplists" code="index">IP列表</menu-item>
    <span class="disabled item">|</span>
    <menu-item href="/servers/iplists/lists?type=black" :active="type == 'black'">公共黑名单</menu-item>
    <menu-item href="/servers/iplists/lists?type=white" :active="type == 'white'">公共白名单</menu-item>
    <span class="item disabled" v-if="type.length > 0">|</span>
    <menu-item @click.prevent="createList" v-if="type.length > 0">[创建]</menu-item>
    <span class="item disabled" v-if="type.length > 0">|</span>
    <span class="item" v-if="type.length > 0"><tip-icon content="全局名单自动生效；非全局名单可以在WAF策略里引用。"></tip-icon></span>
</first-menu>