{$layout}
{$template "menu"}

<div class="margin"></div>
<form class="ui form" action="/servers/iplists" method="get">
    <div class="ui fields inline">
        <div class="ui field">
            <input type="text" name="ip" placeholder="x.x.x.x" v-model="ip"/>
        </div>
        <div class="ui field">
            <div class="ui checkbox">
                <input type="checkbox" name="globalOnly" value="1" v-model="globalOnly"/>
                <label>自动拦截名单</label>
            </div>
        </div>
        <div class="ui field">
            <button class="ui button" type="submit">搜索</button>
            &nbsp;
            <a href="/servers/iplists" v-if="ip.length > 0 || globalOnly">[清除条件]</a>
        </div>
    </div>
</form>

<div class="margin"></div>

<p class="comment" v-if="items.length == 0">暂时还没有IP。</p>

<ip-list-table v-if="items.length > 0" :v-items="items" @update-item="updateItem" @delete-item="deleteItem" :v-keyword="ip" :v-show-search-button="true"></ip-list-table>

<div class="page" v-html="page"></div>