{$layout}
{$template "menu"}

<div class="margin"></div>
<form class="ui form" action="/servers/iplists" method="get">
    <div class="ui fields inline">
        <div class="ui field">
            <input type="text" name="ip" placeholder="x.x.x.x" v-model="ip"/>
        </div>
        <div class="ui field">
            <button class="ui button" type="submit">搜索</button>
        </div>
    </div>
</form>

<div class="margin"></div>

<p class="comment" v-if="items.length == 0">暂时还没有IP。</p>

<ip-list-table v-if="items.length > 0" :v-items="items" @update-item="updateItem" @delete-item="deleteItem" :v-keyword="ip"></ip-list-table>

<div class="page" v-html="page"></div>