{$layout}
{$template "list_menu"}

<form class="ui form" data-tea-action="$" data-tea-success="success">
    <input type="hidden" name="listId" :value="list.id"/>
    <csrf-token></csrf-token>
    <table class="ui table definition selectable">
        <tr>
            <td class="title">名称 *</td>
            <td>
                <input type="text" name="name" maxlength="100" ref="focus" v-model="list.name"/>
            </td>
        </tr>
        <tr>
            <td>代号</td>
            <td>
                <input type="text" name="code" maxlength="100" v-model="list.code"/>
                <p class="comment">可选参数，只能是英文字母、数字、中划线、下划线的组合。</p>
            </td>
        </tr>
        <tr>
            <td>类型</td>
            <td>
                {{list.typeName}}
            </td>
        </tr>
        <tr>
            <td>备注</td>
            <td>
                <textarea name="description" rows="2" maxlength="200" v-model="list.description"></textarea>
            </td>
        </tr>
    </table>
    <submit-btn></submit-btn>
</form>