.install-box {
	@width: 50em;

	width: @width;
	position: fixed;
	left: 50%;
	margin-left: -(@width/2);
	top: 1em;
	bottom: 1em;
	overflow-y: auto;

	.button.margin {
		margin-top: 1em;
	}

	.button.primary {
		float: right;
	}

	table {
		td.title {
			width: 10em;
		}
	}

	.radio {
		margin-right: 1em;

		label {
			cursor: pointer !important;
			font-size: 0.9em !important;
		}
	}

	h3 {
		font-weight: normal;
	}

	.content-box {
		overflow-y: auto;
		position: fixed;
		top: 5em;
		bottom: 5em;
		left: 50%;
		width: @width;
		padding-right: 1em;
		margin-left: -(@width/2);
		z-index: 1;
	}

	.content-box::-webkit-scrollbar {
		width: 4px;
	}

	.button-group {
		position: fixed;
		left: 50%;
		margin-left: -(@width/2);
		z-index: 1;
		width: @width;
		bottom: 1em;
	}
}

.install-box::-webkit-scrollbar {
	width: 4px;
}