{$layout}

<div class="margin"></div>

<p class="comment" v-if="clusters.length == 0">暂时还没有集群。</p>
<table class="ui table selectable" v-if="clusters.length > 0">
	<thead>
		<tr>
			<th>集群</th>
			<th>子域名</th>
			<th>DNS服务商</th>
			<th>DNS服务商账号</th>
			<th class="two op">操作</th>
		</tr>
	</thead>
	<tr v-for="cluster in clusters">
		<td>
			<a :href="'/clusters/cluster?clusterId=' + cluster.id">{{cluster.name}}</a>
		</td>
		<td>
			<span v-if="cluster.dnsName.length > 0 && cluster.domainName.length > 0"><em class="italic">{{cluster.dnsName}}</em>.{{cluster.domainName}}</span>
			<span v-else="" class="disabled">-</span>
		</td>
		<td>
			<span v-if="cluster.providerTypeName.length > 0">{{cluster.providerTypeName}}</span>
			<span v-else class="disabled">-</span>
		</td>
		<td>
			<a v-if="cluster.providerName.length > 0" :href="'/dns/providers/provider?providerId=' + cluster.providerId">{{cluster.providerName}}</a>
			<span v-else="" class="disabled">-</span>
		</td>
		<td>
			<a :href="'/dns/clusters/cluster?clusterId=' + cluster.id">详情</a> &nbsp; <a href="" @click.prevent="updateCluster(cluster.id)">修改</a>
		</td>
	</tr>
</table>
<p class="comment">这里列出了所有集群对应的域名设置。</p>

<div class="page" v-html="page"></div>