{$layout}
{$template "menu"}

<div class="margin"></div>

<form method="post" class="ui form" data-tea-action="$" data-tea-success="success">
	<table class="ui table selectable definition">
		<tr>
			<td class="title">集群名称 *</td>
			<td><input type="text" name="name" maxlength="50" ref="focus"/></td>
		</tr>
        <tr>
            <td>默认缓存设置</td>
            <td>
                <http-cache-policy-selector></http-cache-policy-selector>
                <p class="comment">为可选项。集群中的网站可以自行设置是否启用此设置。</p>
            </td>
        </tr>
        <tr>
            <td>默认WAF设置</td>
            <td>
                <http-firewall-policy-selector></http-firewall-policy-selector>
                <p class="comment">为可选项。集群中的网站可以自行设置是否启用此设置。</p>
            </td>
        </tr>
        <tr>
            <td>只允许绑定的域名访问</td>
            <td>
                <checkbox name="matchDomainStrictly" value="1"></checkbox>
                <p class="comment">选中后，表示只有已经绑定（<tip-icon content="已经绑定的域名：为在网站设置--“域名”设置页中已经填入的域名。"></tip-icon>）的域名才允许访问；不选中表示访问一个不存在的域名时默认选择第一个网站。</p>
            </td>
        </tr>
	</table>

	<h4>节点安装选项 &nbsp;<span class="grey small">（可选）</span></h4>
	<table class="ui table selectable definition">
		<tr>
			<td class="title">默认SSH登录方式</td>
			<td>
				<grant-selector></grant-selector>
				<p class="comment">当前集群下节点统一的登录设置；当节点没有单独设置SSH登录方式时，默认使用此设置。</p>
			</td>
		</tr>
		<tr>
			<td>节点安装目录</td>
			<td>
				<input type="text" name="installDir" maxlength="100"/>
				<p class="comment">当节点没有单独设置安装目录时，默认使用此设置。如果集群和节点都没有设置安装目录，则使用<code-label>$登录用户HOME路径/edge-node</code-label>
					目录。</p>
			</td>
		</tr>
        <tr v-show="false">
            <td>自动加入Systemd服务</td>
            <td>
                <checkbox name="systemdServiceIsOn" checked="checked"></checkbox>
                <p class="comment">加入后可以利用systemd对节点进程进行管理，并可自动随开机启动。</p>
            </td>
        </tr>
        <tr>
            <td>自动安装nftables</td>
            <td>
                <checkbox name="autoInstallNftables" value="1"></checkbox>
                <p class="comment">选中后，表示在Linux系统中自动尝试安装<code-label>nftables</code-label>用于安全防御；此功能需要联网从Ubuntu、CentOS等软件库中下载安装包。</p>
            </td>
        </tr>
        <tr>
            <td>自动调节系统参数</td>
            <td>
                <checkbox name="autoSystemTuning" value="1"></checkbox>
                <p class="comment">选中后，表示自动调整Linux内核等参数，以便提升性能。</p>
            </td>
        </tr>
        <tr v-show="false">
            <td>自动执行硬盘<br/>TRIM</td>
            <td>
                <checkbox name="autoTrimDisks" value="1"></checkbox>
                <p class="comment">执行TRIM后可以移除SSD硬盘中无效的数据，从而显著SSD硬盘提升写入性能。</p>
            </td>
        </tr>
	</table>

	<h4>DNS设置选项 &nbsp;<span class="grey small">（可选）</span></h4>
	<table class="ui table selectable definition">
		<tr v-if="hasDomains">
			<td>选择主域名</td>
			<td>
				<dns-domain-selector @change="changeDomain"></dns-domain-selector>
				<p class="comment">用于生成集群节点和网站的CNAME和DNS解析记录。</p>
			</td>
		</tr>
		<tr>
			<td class="title">DNS子域名</td>
			<td>
				<div class="ui input right labeled">
					<input type="text" name="dnsName" maxlength="64" style="width:10em" v-model="dnsName"/>
					<span class="ui label" v-if="domain != null && domain.name != null && domain.name.length > 0">.{{domain.name}}</span>
                    <span class="ui label" v-else>.主域名</span>
				</div>
				<p class="comment"><span v-if="dnsName == defaultDNSName" class="red">当前已为你生成默认的子域名。</span>当前集群的子域名，和主域名一起组成集群节点的子域名。</p>
			</td>
		</tr>
        <tr>
            <td>解析记录TTL</td>
            <td>
                <div class="ui input right labeled">
                    <input type="text" name="dnsTTL" maxlength="6" style="width: 6em" value="0"/>
                    <span class="ui label">秒</span>
                </div>
                <p class="comment">生成解析记录时使用的TTL；每个DNS服务商或者套餐、账号限制各有不同，请注意允许的取值范围。0表示使用默认。</p>
            </td>
        </tr>
	</table>

	<submit-btn></submit-btn>
</form>