{$layout}
{$template "../menu"}

<form class="ui form" data-tea-action="$" data-tea-success="success">
    <csrf-token></csrf-token>
    <table class="ui table definition selectable">
        <tr>
            <td class="title">提醒连通性阈值</td>
            <td>
                <div class="ui input right labeled">
                    <input type="text" maxlength="4" size="2" name="minNotifyConnectivity" v-model="setting.minNotifyConnectivity"/>
                    <span class="ui label">%</span>
                </div>
                <p class="comment">取值0到100，当单个被监控对象连通性低于此值时（不包含此值）发送消息提醒。<span v-if="setting.minNotifyConnectivity == 100">100%表示只要有任何访问异常的情形都会发送提醒。</span></p>
            </td>
        </tr>
        <tr>
            <td>通知URL</td>
            <td>
                <input type="text" name="notifyWebHookURL" maxlength="1000" v-model="setting.notifyWebHookURL" placeholder="https://..."/>
                <p class="comment">当达到连通性阈值时将监控对象的信息发送到此URL上。</p>
            </td>
        </tr>
    </table>
    <submit-btn></submit-btn>
</form>