{$layout}
{$template "menu"}

<div class="ui message" v-if="grants.length == 0">暂时还没有认证信息。</div>

<table class="ui table selectable celled" v-if="grants.length > 0">
	<thead>
		<tr>
			<th class="center">ID</th>
			<th>名称</th>
			<th>类型</th>
			<th class="center">集群数</th>
			<th class="center">节点数</th>
			<th class="two op">操作</th>
		</tr>
	</thead>
	<tr v-for="grant in grants">
		<td class="center">{{grant.id}}</td>
		<td>{{grant.name}}</td>
		<td>
			<span class="ui label tiny">{{grant.method.name}}</span>
		</td>
		<td class="center">
			<span v-if="grant.countClusters > 0">{{grant.countClusters}}</span>
			<span v-else class="disabled">0</span>
		</td>
		<td class="center">
			<span v-if="grant.countNodes > 0">{{grant.countNodes}}</span>
			<span v-else class="disabled">0</span>
		</td>
		<td>
			<a :href="'/clusters/grants/grant?grantId=' + grant.id">详情</a> &nbsp; <a href="" @click.prevent="deleteGrant(grant.id)">删除</a>
		</td>
	</tr>
</table>

<div class="page" v-html="page"></div>