{$layout}
{$template "menu"}
<div class="margin"></div>
<form class="ui form" data-tea-action="$" data-tea-success="success">
	<input type="hidden" name="grantId" :value="grantId"/>
	<table class="ui table definition selectable">
		<tr>
			<td class="title">节点名称 *</td>
			<td>
				<input type="text" name="name" maxlength="50" ref="focus"/>
			</td>
		</tr>
		<tr>
			<td>IP地址</td>
			<td>
				<input type="hidden" name="ipAddresses" :value="JSON.stringify(ipAddresses)"/>
				<div v-if="ipAddresses.length > 0">
					<div>
						<div v-for="(address, index) in ipAddresses" class="ui label small">
							{{address.ip}}<span class="small">（{{address.name}}）</span>
							<a href="" title="修改" @click.prevent="updateIPAddress(index, address)"><i class="icon pencil small"></i></a>
							<a href="" title="删除" @click.prevent="removeIPAddress(index)"><i class="icon remove"></i></a>
						</div>
					</div>
					<div class="ui divider"></div>
				</div>
				<div>
					<button class="ui button small" type="button" @click.prevent="addIPAddress()">+</button>
				</div>
				<p class="comment">添加已经绑定的IP地址，仅做记录用。</p>
			</td>
		</tr>
		<tr>
			<td>所属集群</td>
			<td>
				<select class="ui dropdown" name="clusterId" style="width:10em">
					<option v-for="cluster in clusters" :value="cluster.id">{{cluster.name}}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>SSH主机地址</td>
			<td>
				<input type="text" name="sshHost" maxlength="64"/>
				<p class="comment">比如192.168.1.100</p>
			</td>
		</tr>
		<tr>
			<td>SSH主机端口</td>
			<td>
				<input type="text" name="sshPort" maxlength="5"/>
				<p class="comment">常见的比如22。</p>
			</td>
		</tr>
		<tr>
			<td>SSH登录认证</td>
			<td>
				<div class="ui label small" v-if="grant != null">{{grant.name}}<span class="small">（{{grant.methodName}}）</span> <a href="" title="修改" @click.prevent="updateGrant()"><i class="icon pencil small"></i></a> <a href="" title="删除" @click.prevent="removeGrant()"><i class="icon remove"></i></a> </div>
				<div v-if="grant == null">
					<a href="" @click.prevent="selectGrant()">[选择已有认证]</a> &nbsp; &nbsp; <a href="" @click.prevent="createGrant()">[添加新认证]</a>
				</div>
			</td>
		</tr>
	</table>
	<submit-btn></submit-btn>
</form>