{$layout}

<form class="ui form" method="post" data-tea-action="$" data-tea-success="success">
    <csrf-token></csrf-token>

    <table class="ui table definition selectable">
        <tr>
            <td class="title">产品名称 *</td>
            <td>
                <input type="text" name="productName" v-model="config.productName" maxlength="100"/>
            </td>
        </tr>
        <tr>
            <td>用户系统名称 *</td>
            <td>
                <input type="text" name="userSystemName" v-model="config.userSystemName" maxlength="100"/>
            </td>
        </tr>
        <tr>
            <td>是否显示底部开源信息</td>
            <td>
                <checkbox name="showOpenSourceInfo" v-model="config.showOpenSourceInfo"></checkbox>
            </td>
        </tr>
        <tr>
            <td>是否显示版本号</td>
            <td>
                <checkbox name="showVersion" v-model="config.showVersion"></checkbox>
            </td>
        </tr>
        <tr v-show="config.showVersion">
            <td>定制版本号</td>
            <td>
                <input type="text" name="version" v-model="config.version" maxlength="100"/>
                <p class="comment">定制自己的版本号，留空表示使用系统自带的版本号。</p>
            </td>
        </tr>
        <tr>
            <td>是否显示财务相关功能</td>
            <td>
                <checkbox name="showFinance" v-model="config.showFinance"></checkbox>
            </td>
        </tr>
        <tr>
            <td>浏览器图标</td>
            <td>
                <div v-if="config.faviconFileId > 0">
                    <a :href="'/ui/image/' + config.faviconFileId" target="_blank"><img :src="'/ui/image/' + config.faviconFileId" style="width:32px;border:1px #ccc solid;"/></a>
                </div>
                <div v-else>
                    <span class="disabled">还没有上传。</span>
                </div>
                <div style="margin-top: 0.8em">
                    <input type="file" name="faviconFile" accept=".png"/>
                </div>
                <p class="comment">在浏览器标签栏显示的图标，请使用PNG格式。</p>
            </td>
        </tr>
        <tr>
            <td>Logo</td>
            <td>
                <div v-if="config.logoFileId > 0">
                    <a :href="'/ui/image/' + config.logoFileId" target="_blank"><img :src="'/ui/image/' + config.logoFileId" style="width:32px;border:1px #ccc solid;"/></a>
                </div>
                <div v-else>
                    <span class="disabled">还没有上传。</span>
                </div>
                <div style="margin-top: 0.8em">
                    <input type="file" name="logoFile" accept=".png"/>
                </div>
                <p class="comment">显示在系统界面上的图标，请使用PNG格式。</p>
            </td>
        </tr>
    </table>
    <p class="comment">修改后，可能需要等待数分钟才会生效。</p>

    <submit-btn></submit-btn>
</form>