{$layout "layout_popup"}

<h3>添加分组</h3>

<form method="post" class="ui form" data-tea-action="$" data-tea-success="success">
	<input type="hidden" name="firewallPolicyId" :value="firewallPolicyId"/>
	<input type="hidden" name="type" :value="type"/>
	<table class="ui table definition selectable">
		<tr>
			<td class="title">分组名称 *</td>
			<td>
				<input type="text" name="name" maxlength="100" ref="focus"/>
				<p class="comment">给分组起一个容易识别的名称</p>
			</td>
		</tr>
        <tr>
            <td>代号</td>
            <td>
                <input type="text" name="code" maxlength="100"/>
                <p class="comment">可选项，在导入时可以合并相同代号的分组。</p>
            </td>
        </tr>
		<tr>
			<td colspan="2"><more-options-indicator></more-options-indicator></td>
		</tr>
		<tbody v-show="moreOptionsVisible">
			<tr>
				<td>分组描述</td>
				<td>
					<textarea name="description" maxlength="200" rows="3"></textarea>
				</td>
			</tr>
			<tr>
				<td>启用当前分组</td>
				<td>
					<div class="ui checkbox">
						<input type="checkbox" name="isOn" value="1" checked="checked"/>
						<label></label>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

	<submit-btn></submit-btn>
</form>