{$layout}

	<second-menu>
		<menu-item href="/servers/components/waf" code="index">列表</menu-item>
		<span class="item">|</span>
		<a href="" class="item" @click.prevent="createPolicy()">[创建]</a>
	</second-menu>

	<p class="comment" v-if="policies.length == 0">暂时还没有WAF策略。</p>

	<table class="ui table selectable celled" v-if="policies.length > 0">
		<thead>
			<tr>
				<th>策略名称</th>
				<th class="center">入站规则分组</th>
				<th class="center">出站规则分组</th>
				<th class="center">引用服务</th>
				<th class="two wide center">状态</th>
				<th class="two op">操作</th>
			</tr>
		</thead>
		<tr v-for="policy in policies">
			<td>{{policy.name}}</td>
			<td class="center">{{policy.countInbound}}</td>
			<td class="center">{{policy.countOutbound}}</td>
			<td class="center">{{policy.countServers}}</td>
			<td class="center"><label-on :v-is-on="policy.isOn"></label-on></td>
			<td>
				<a :href="'/servers/components/waf/policy?firewallPolicyId=' + policy.id">详情</a> &nbsp;
				<a href="" @click.prevent="deletePolicy(policy.id)">删除</a>
			</td>
		</tr>
	</table>

	<div class="page" v-html="page"></div>