{$layout}
{$template "waf_menu"}

<table class="ui table definition selectable">
    <tr>
        <td class="title">策略名称</td>
        <td>{{firewallPolicy.name}}</td>
    </tr>
    <tr>
        <td>状态</td>
        <td>
            <span v-if="!firewallPolicy.isOn" class="red">已停用</span>
            <div v-else-if="firewallPolicy.modeInfo != null">
                <span :class="{green: firewallPolicy.modeInfo.code == 'defend', blue: firewallPolicy.modeInfo.code == 'observe', grey: firewallPolicy.modeInfo.code == 'bypass'}">{{firewallPolicy.modeInfo.name}}</span>
                <p class="comment">{{firewallPolicy.modeInfo.description}}</p>
            </div>
        </td>
    </tr>
    <tr>
        <td>预置的规则分组</td>
        <td>
            <span class="ui label tiny basic" v-for="group in firewallPolicy.groups" style="margin-bottom:0.5em" :class="{disabled:!group.isOn}">{{group.name}}</span>
        </td>
    </tr>
    <tr>
        <td>阻止动作设置</td>
        <td>
            <span v-if="firewallPolicy.blockOptions == null" class="disabled">还没有设置。</span>
            <div v-else>
                <table class="ui table">
                    <tr>
                        <td class="title">状态码</td>
                        <td>{{firewallPolicy.blockOptions.statusCode}}</td>
                    </tr>
                    <tr>
                        <td>提示内容</td>
                        <td>{{firewallPolicy.blockOptions.body}}</td>
                    </tr>
                    <tr>
                        <td>超时时间</td>
                        <td>
                            <span v-if="firewallPolicy.blockOptions.timeout <= 0" class="disabled">使用默认时间。</span>
                            <span v-else>{{firewallPolicy.blockOptions.timeout}}秒</span>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td>描述</td>
        <td>
            <span v-if="firewallPolicy.description.length > 0">{{firewallPolicy.description}}</span>
            <span v-else class="disabled">暂时还没有描述。</span>
        </td>
    </tr>
</table>

<h4>使用此策略的集群</h4>
<p class="comment" v-if="clusters.length == 0">暂时还没有集群使用此策略。</p>
<table class="ui table selectable" v-if="clusters.length > 0">
    <tr v-for="cluster in clusters">
        <td>{{cluster.name}}<link-icon :href="'/clusters/cluster?clusterId=' + cluster.id"></link-icon></td>
    </tr>
</table>