{$layout "layout_popup"}

<h3>选择WAF策略</h3>
<table class="ui table selectable celled">
    <thead>
        <tr>
            <th>策略名称</th>
            <th style="width: 7em">状态</th>
            <th class="two op">操作</th>
        </tr>
    </thead>
    <tr v-for="policy in policies">
        <td>{{policy.name}}</td>
        <td>
            <label-on :v-is-on="policy.isOn"></label-on>
        </td>
        <td>
            <span v-if="policy.isOn">
                <a href="" @click.prevent="selectPolicy(policy)">选择</a>
            </span>
        </td>
    </tr>
</table>
<div class="page" v-html="page"></div>