{$layout "layout_popup"}

<h3>修改规则集</h3>

<form method="post" class="ui form" data-tea-action="$" data-tea-success="success">
	<input type="hidden" name="setId" :value="setConfig.id"/>
	<table class="ui table definition selectable">
		<tr>
			<td class="title">规则集名称 *</td>
			<td>
				<input type="text" name="name" maxlength="100" ref="focus" v-model="setConfig.name"/>
			</td>
		</tr>
		<tr>
			<td>规则 *</td>
			<td style="word-break: break-word">
				<http-firewall-rules-box :v-rules="rules" :v-type="type"></http-firewall-rules-box>
			</td>
		</tr>
		<tr>
			<td>规则之间的关系</td>
			<td>
				<select class="ui dropdown" name="connector" style="width:10em" @change="changeConnector()" v-model="selectedConnector">
					<option v-for="connector in connectors" :value="connector.value">{{connector.name}}</option>
				</select>
				<p class="comment">{{selectedConnectorDescription}}</p>
			</td>
		</tr>
		<tr>
            <td>执行动作 *</td>
            <td>
                <http-firewall-actions-box :v-actions="actions" :v-firewall-policy="firewallPolicy" :v-action-configs="actionConfigs"></http-firewall-actions-box>
            </td>
        </tr>
	</table>
	<submit-btn></submit-btn>
</form>