{$layout}
{$template "/left_menu"}

<div class="right-box">
    {$template "menu"}

    <div class="margin"></div>
    <div v-show="webConfig.cache == null || !webConfig.cache.isOn">
        <p class="comment">没有开启缓存，不需要清理。</p>
    </div>
    <div v-show="webConfig.cache != null && webConfig.cache.isOn">
        <p class="comment">可以在这里批量删除一组Key。</p>

        <form method="post" class="ui form" data-tea-action="$" data-tea-before="before" data-tea-success="success" data-tea-fail="fail" data-tea-done="done" data-tea-timeout="300">
            <input type="hidden" name="serverId" :value="serverId"/>
            <input type="hidden" name="webId" :value="webId"/>
            <table class="ui table definition selectable">
                <tr>
                    <td class="title">操作类型</td>
                    <td>
                        <radio name="keyType" :v-value="'key'" v-model="keyType">URL</radio> &nbsp;
                        <radio name="keyType" :v-value="'prefix'" v-model="keyType">目录</radio>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span v-if="keyType == 'key'">URL</span>
                        <span v-if="keyType == 'prefix'">目录</span>
                    </td>
                    <td>
                        <textarea name="keys" rows="10" ref="keysBox"></textarea>
                        <p class="comment" v-if="keyType == 'key'">每行一个URL，比如<code-label>https://example.com/hello/world.html</code-label>。</p>
                        <p class="comment" v-if="keyType == 'prefix'">每行一个URL目录，比如<code-label>https://example.com/hello/</code-label>；如果只填写域名部分，表示清理全站，比如<code-label>https://example.com/</code-label>。</p>
                    </td>
                </tr>
                <tr>
                    <td>操作结果</td>
                    <td>
                        <div v-if="isRequesting">数据发送中...</div>
                        <span class="red" v-if="!isRequesting && !isOk && message.length > 0">失败：{{message}}</span>
                        <div v-if="!isRequesting && !isOk && failKeys.length > 0" class="fail-keys-box">
                            <div v-for="failKey in failKeys">
                                <span class="red">{{failKey.key}}: {{failKey.reason}}</span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <submit-btn v-if="!isRequesting">提交</submit-btn>
        </form>
    </div>
</div>