{$layout "layout"}
{$template "item_menu"}

<form class="ui form" data-tea-action="$" data-tea-success="success">
    <csrf-token></csrf-token>
    <input type="hidden" name="itemId" :value="item.id"/>
    <table class="ui table definition selectable">
        <tr>
            <td class="title">指标名称 *</td>
            <td>
                <input type="text" name="name" maxlength="100" ref="focus" v-model="item.name"/>
            </td>
        </tr>
        <tr>
            <td>统计对象 *</td>
            <td>
                <metric-keys-config-box :v-category="item.category" :v-keys="item.keys"></metric-keys-config-box>
            </td>
        </tr>
        <tr>
            <td>统计周期 *</td>
            <td>
                <metric-period-config-box :v-period="item.period" :v-period-unit="item.periodUnit"></metric-period-config-box>
            </td>
        </tr>
        <tr>
            <td>统计数值 *</td>
            <td>
                <!-- HTTP -->
                <select class="ui dropdown auto-width" name="value" v-if="item.category == 'http'" v-model="item.value">
                    <option value="${countRequest}">请求数</option>
                    <option value="${countConnection}">连接数</option>
                    <option value="${countTrafficIn}">下行流量</option>
                    <option value="${countTrafficOut}">上行流量</option>
                </select>

                <!-- TCP -->
                <select class="ui dropdown auto-width" name="value" v-if="item.category == 'tcp'">
                    <option value="${countConnection}">连接数</option>
                    <option value="${countTrafficIn}">下行流量</option>
                    <option value="${countTrafficOut}">上行流量</option>
                </select>

                <!-- UDP -->
                <select class="ui dropdown auto-width" name="value" v-if="item.category == 'udp'">
                    <option value="${countConnection}">连接数</option>
                    <option value="${countTrafficIn}">下行流量</option>
                    <option value="${countTrafficOut}">上行流量</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>是否启用</td>
            <td>
                <checkbox name="isOn" v-model="item.isOn" value="1"></checkbox>
            </td>
        </tr>
    </table>
    <submit-btn></submit-btn>
</form>