{$layout "layout_popup"}

<h3>创建缓存策略</h3>

<form method="post" class="ui form" data-tea-action="$" data-tea-success="success">
	<table class="ui table definition selectable">
		<tr>
			<td class="title">策略名称 *</td>
			<td><input type="text" name="name" maxlength="100" ref="focus"/> </td>
		</tr>
		<tr>
			<td class="color-border">缓存类型 *</td>
			<td>
				<select class="ui dropdown auto-width" name="type" v-model="policyType">
					<option v-for="type in types" :value="type.type">{{type.name}}</option>
				</select>
			</td>
		</tr>
		<!-- 文件缓存选项 -->
		<tbody v-if="policyType == 'file'">
			<tr>
				<td class="color-border">缓存目录 *</td>
				<td>
					<input type="text" name="fileDir" maxlength="500" value="/opt/cache"/>
					<p class="comment">存放文件缓存的目录，通常填写绝对路径。</p>
				</td>
			</tr>
            <tr>
                <td class="color-border">文件目录最大容量</td>
                <td>
                    <size-capacity-box :v-name="'capacityJSON'" :v-count="128" :v-unit="'gb'" :key="'capacityJSON1'"></size-capacity-box>
                    <p class="comment">作为二级缓存的文件目录允许缓存的最大容量，如果为0表示没有限制。</p>
                </td>
            </tr>
            <tr>
                <td class="color-border">内存最大容量</td>
                <td>
                   <size-capacity-box :v-name="'fileMemoryCapacityJSON'" :v-count="0" :v-unit="'gb'" :key="'fileMemoryCapacityJSON'"></size-capacity-box>
                    <p class="comment">作为一级缓存的内存最大容量，如果为0表示不使用内存作为一级缓存。</p>
                </td>
            </tr>
		</tbody>

        <tbody v-if="policyType == 'memory'">
            <tr>
                <td>内存最大容量</td>
                <td>
                    <size-capacity-box :key="'a'" :v-name="'capacityJSON'" :v-count="2" :v-unit="'gb'" :key="'capacityJSON2'"></size-capacity-box>
                    <p class="comment">允许缓存的最大容量，如果为0表示没有限制。</p>
                </td>
            </tr>
        </tbody>

		<tr>
			<td colspan="2"><more-options-indicator></more-options-indicator></td>
		</tr>
		<tbody v-show="moreOptionsVisible">
			<tr>
				<td>最大内容长度</td>
				<td>
					<size-capacity-box :v-name="'maxSizeJSON'" :v-count="256" :v-unit="'mb'" :key="'maxSizeJSON'"></size-capacity-box>
					<p class="comment">允许缓存的最大内容长度，如果为0表示没有限制。</p>
				</td>
			</tr>
			<tr>
				<td>容纳Key数量</td>
				<td>
					<input type="text" name="maxKeys" maxlength="10" style="width:10em"/>
					<p class="comment">可以容纳多少数量的Key，0表示不限制。</p>
				</td>
			</tr>
			<tr>
				<td>描述</td>
				<td>
					<textarea maxlength="200" name="description" rows="3"></textarea>
				</td>
			</tr>
			<tr>
				<td>是否启用</td>
				<td>
					<div class="ui checkbox">
						<input type="checkbox" name="isOn" value="1" checked="checked"/>
						<label></label>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<submit-btn></submit-btn>
</form>