{$layout}

	{$template "policy_menu"}

	<table class="ui table definition selectable">
		<tr>
			<td class="title">策略名称</td>
			<td>{{cachePolicy.name}}</td>
		</tr>
		<tr>
			<td>状态</td>
			<td><label-on :v-is-on="cachePolicy.isOn"></label-on></td>
		</tr>
		<tr>
			<td class="color-border">缓存类型</td>
			<td>
				{{typeName}}<span class="small">（{{cachePolicy.type}}）</span>
			</td>
		</tr>

		<!-- 文件缓存选项 -->
		<tbody v-if="cachePolicy.type == 'file'">
		<tr>
			<td class="color-border">缓存目录</td>
			<td>
				{{cachePolicy.options.dir}}
				<p class="comment">存放文件缓存的目录，通常填写绝对路径。</p>
			</td>
		</tr>
		</tbody>


		<tr>
			<td>缓存最大容量</td>
			<td>
				<size-capacity-view :v-value="cachePolicy.capacity" :v-default-text="'不限'"></size-capacity-view>
				<p class="comment">允许缓存的最大内容长度，如果为0表示没有限制。</p>
			</td>
		</tr>
		<tr>
			<td colspan="2"><more-options-indicator></more-options-indicator></td>
		</tr>
		<tbody v-show="moreOptionsVisible">
		<tr>
			<td>最大内容长度</td>
			<td>
				<size-capacity-view :v-value="cachePolicy.maxSize" :v-default-text="'不限'"></size-capacity-view>
				<p class="comment">允许缓存的最大内容长度，如果为0表示没有限制。</p>
			</td>
		</tr>
		<tr>
			<td>容纳Key数量</td>
			<td>
				<span v-if="cachePolicy.maxKeys > 0">{{cachePolicy.maxKeys}}</span>
				<span v-else>不限</span>
				<p class="comment">可以容纳多少数量的Key，0表示不限制。</p>
			</td>
		</tr>
		<tr>
			<td>描述</td>
			<td>
				<span v-if="cachePolicy.description.length > 0">{{cachePolicy.description}}</span>
				<span v-else class="disabled">暂时还没有描述。</span>
			</td>
		</tr>
		</tbody>
	</table>