<div id="footer" class="ui menu inverted light-blue borderless small" v-if="teaShowOpenSourceInfo">
    <a  href="/settings/upgrade" class="item" title="点击进入检查版本更新页面">{{teaName}} v{{teaVersion}}</a>
    <a href="https://goedge.cn" target="_blank" class="item">官网</a>
    <a href="https://goedge.cn/docs" target="_blank" class="item">文档</a>
    <a href="https://github.com/TeaOSLab/EdgeAdmin" target="_blank" class="item">GitHub</a>
    <a href="https://github.com/TeaOSLab/EdgeAdmin/issues" target="_blank" class="item">提Bug</a>
    <a class="item" href="https://goedge.cn/community/telegram" target="_blank" title="点击跳转到加群页面">Telegram群 &nbsp;<i class="icon paper plane"></i></a>
    <a class="item right" href="https://goedge.cn/commercial" target="_blank" v-if="!teaIsPlus">企业版</a>
</div>