.grid.counter-chart {
	margin-top: 1em !important;
	margin-left: 0.4em !important;

	.column {
		margin-bottom: 1em;
		font-size: 0.85em;
		text-align: center;
		position: relative;
		border: 1px rgba(0, 0, 0, .1) solid;
		border-right: 0;

		div.value {
			margin-top: 1.5em;
			font-weight: normal;

			span {
				font-size: 1.5em;
				margin-right: 0.2em;
			}
		}
	}

	.column.with-border {
		border-right: 1px rgba(0, 0, 0, .1) solid;
	}

	h4 {
		color: grey;
		position: relative;

		a {
			position: absolute;
			right: 0.1em;
			font-size: 1.26em;
			display: none;
		}

		font-size: 1.0em;
		text-align: left;
	}

	.column:hover {
		background: rgba(0, 0, 0, .03) !important;

		a {
			display: inline;
		}
	}
}

.grid.chart-grid {
	margin-top: 1em !important;
	margin-left: 0.4em !important;

	.column {
		margin-bottom: 1em;
		border: 1px rgba(0, 0, 0, .1) solid;
		border-right: 0;

		.menu {
			margin-top: -0.6em !important;
			margin-bottom: -0.6em !important;
		}

		h4 {
			span {
				font-size: 0.8em;
				color: grey;
			}
		}
	}

	.column.with-border {
		border-right: 1px rgba(0, 0, 0, .1) solid;
	}
}