<div class="margin"></div>

<div class="left-box without-menu" :class="{disabled:leftMenuItemIsDisabled}">
	<div class="ui menu text blue vertical small">
		<a class="item" v-for="item in leftMenuItems" :href="item.url" :class="{active:item.isActive, separator:item.name == '-', on:item.isOn, off:item.isOff||item.isImportant}">
			<span v-if="item.name != '-'"><i class="icon play tiny" :style="{'visibility':item.isActive ? 'visible' : 'hidden'}"></i>{{item.name}}<var v-if="item.isOff">关</var><var v-if="item.isImportant">开</var></span>
		</a>
	</div>
</div>