.ui.message {
	a {
		.icon.remove {
			position: absolute;
			right: 1em;
			top: 2em;
		}
	}
}

.grid.realtime-chart {
	margin-left: 0.4em !important;

	.column {
		margin-bottom: 1em;
		border-right: 1px rgba(0, 0, 0, .1) solid;
	}

	.column.no-border {
		border-right: 0;
	}

	.chart {
		height: 10em;
	}
}

.chart-box {
	height: 14em;
}

.traffic-map-box {
	height: 16em;

	div::-webkit-scrollbar {
		width: 4px;
	}
}

h4 {
	span {
		font-size: 0.8em;
		color: grey;
	}
}

.percent-box {
	position: relative;
	text-align: center;

	.detail {
		position: absolute;
		top: 50%;
		margin-top: -2em;
		left: 0;
		right: 0;
		font-size: 0.8em;

		.label {
			color: grey;
		}

		.value {
			font-size: 1.2em;
		}
	}

	.summary {
		color: grey;
		margin-top: 0.5em;

		span {
			font-size: 0.8em;
			padding-left: 0.2em;
		}

		a {
			font-size: 0.8em;
		}
	}
}