{$layout}
{$template "../settings_menu"}
{$template "/left_menu_with_menu"}

<div class="right-box with-menu">
	<form method="post" class="ui form" data-tea-action="$" data-tea-success="success">
		<input type="hidden" name="serverId" :value="serverId"/>
		<input type="hidden" name="webId" :value="webId"/>
		<input type="hidden" name="serverType" :value="serverType"/>
		<table class="ui table selectable definition">
			<tr>
				<td class="title">启用HTTP</td>
				<td>
					<div class="ui checkbox">
						<input type="checkbox" name="isOn" value="1" v-model="httpConfig.isOn"/>
						<label></label>
					</div>
				</td>
			</tr>
			<tbody v-show="httpConfig.isOn">
				<tr>
					<td class="title">绑定端口 *</td>
					<td>
                        <span class="red" v-if="httpConfig.isOn && (httpConfig.addresses == null || httpConfig.addresses.length == 0)">还没有添加端口绑定，会导致HTTP服务无法访问。</span>
						<network-addresses-box :v-server-type="serverType" :v-addresses="httpConfig.addresses" :v-protocol="'http'"></network-addresses-box>
                        <p class="comment"><span v-if="conflictingPorts.length > 0" class="red">配置错误：<span v-for="(port, index) in conflictingPorts">{{port}}<span v-if="index != conflictingPorts.length - 1">、</span></span><span v-if="conflictingPorts.length > 1">等</span>端口同HTTPS设置的端口冲突，请删除HTTP或HTTPS中的相关端口。</span></p>
					</td>
				</tr>
				<tr>
					<td>自动跳转到HTTPS</td>
					<td>
						<http-redirect-to-https-box :v-redirect-to-https-config="redirectToHTTPSConfig"></http-redirect-to-https-box>
					</td>
				</tr>
			</tbody>
		</table>
		<submit-btn></submit-btn>
	</form>
</div>