{$layout}
{$template "admin_menu"}

<form method="post" class="ui form" data-tea-action="$" data-tea-success="success">
    <csrf-token></csrf-token>
    <input type="hidden" name="adminId" :value="admin.id"/>
    <table class="ui table definition selectable">
        <tr>
            <td class="title">全名 *</td>
            <td>
                <input type="text" name="fullname" maxlength="100" ref="focus" v-model="admin.fullname"/>
                <p class="comment">可以输入姓名、公司名等容易识别的名称。</p>
            </td>
        </tr>
        <tr>
            <td>登录用户名 *</td>
            <td>
                <input type="text" name="username" maxlength="100" v-model="admin.username"/>
                <p class="comment">用户名只能英文、数字、下划线的组合。</p>
            </td>
        </tr>
        <tr>
            <td>登录密码</td>
            <td>
                <input type="password" name="pass1" maxlength="100"/>
                <p class="comment">留空表示不修改。</p>
            </td>
        </tr>
        <tr>
            <td>确认登录密码</td>
            <td>
                <input type="password" name="pass2" maxlength="100"/>
            </td>
        </tr>
        <tr>
            <td>允许登录</td>
            <td>
                <checkbox name="canLogin" value="1" v-model="admin.canLogin"></checkbox>
                <p class="comment">选中后，当前管理员才可以登录当前的管理平台。</p>
            </td>
        </tr>
        <tr>
            <td>超级管理员</td>
            <td>
                <checkbox name="isSuper" v-model="admin.isSuper"></checkbox>
                <p class="comment">选中后，表示当前管理员为超级管理员；超级管理员自动拥有所有的管理权限。</p>
            </td>
        </tr>
        <tr v-show="!admin.isSuper">
            <td>权限</td>
            <td>
                <div class="modules-box">
                    <div class="module-box" v-for="module in modules">
                        <checkbox name="moduleCodes" :v-value="module.code" v-model="module.isChecked">{{module.name}}</checkbox>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>OTP认证</td>
            <td>
                <checkbox name="otpOn" v-model="admin.otpLoginIsOn">启用OTP</checkbox>
                <p class="comment">启用OTP认证后，在用户登录的时候需要同时填写OTP动态密码。</p>
            </td>
        </tr>
        <tr>
            <td>启用当前管理员</td>
            <td>
                <checkbox name="isOn" v-model="admin.isOn"></checkbox>
            </td>
        </tr>
    </table>

    <submit-btn></submit-btn>
</form>