{$layout "layout_popup"}

<h3>选择所属分组</h3>

<form method="post" class="ui form" data-tea-action="$" data-tea-success="success">
	<input type="hidden" name="groupId" :value="groupId"/>
	<table class="ui table definition selectable">
		<tr>
			<td class="title">选择分组</td>
			<td>
				<div v-if="groups.length > 0">
					<a href="" class="ui label small basic" v-for="group in groups" :class="{blue:group.id == groupId}" style="margin-bottom:0.5em" @click.prevent="selectGroup(group)">{{group.name}}</a>
					<p class="comment">点击可已选中要使用的分组。</p>
				</div>
				<div v-else>
					<p class="comment">当前集群下暂时还没有可以使用的分组。</p>
				</div>
			</td>
		</tr>
	</table>
	<submit-btn>确定</submit-btn>
</form>