{$layout}
{$template "/clusters/cluster/menu"}
{$template "/left_menu"}

<div class="right-box">
	<form method="post" class="ui form" data-tea-action="$" data-tea-success="success">
		<csrf-token></csrf-token>
		<input type="hidden" name="clusterId" :value="clusterId"/>

        <div v-if="quota.maxNodes > 0 && quota.leftNodes >= 0"><span style="color: #959da6">当前授权最多支持节点数：{{quota.maxNodes}}个，剩余节点数：{{quota.leftNodes}}个。</span></div>

        <table class="ui table definition selectable">
			<tr>
				<td class="title">节点IP列表</td>
				<td>
					<textarea name="ipList" rows="20" placeholder="IP列表，每行一个IP" ref="ipList"></textarea>
					<p class="comment">每行一个节点IP。</p>
				</td>
			</tr>
			<tr>
				<td>所属分组</td>
				<td>
					<node-group-selector :v-cluster-id="clusterId"></node-group-selector>
                    <p class="comment">用来筛选节点<span v-if="teaIsPlus">，同时可以在分组中设置二级缓存节点</span>。</p>
				</td>
			</tr>
            <tr>
                <td>所属区域</td>
                <td>
                    <node-region-selector></node-region-selector>
                    <p class="comment">设置区域后可以根据区域进行流量统计和计费。</p>
                </td>
            </tr>
		</table>
		<submit-btn></submit-btn>
	</form>
</div>