{$layout}
{$template "/left_menu"}

<div class="right-box">
    {$template "../menu"}

    <div class="ui message warning" v-if="!featureIsOn">尚未为当前用户开通此功能。</div>

    {$ if .featureIsOn}
    <second-menu>
        <menu-item @click.prevent="createIP('white')">添加IP</menu-item>
        <span class="item">|</span>
        <span class="item">ID: {{listId}} &nbsp; <tip-icon content="ID可以用于使用API操作此IP名单"></tip-icon></span>
        <span class="item">|</span>
        <div class="item"><ip-list-bind-box :v-http-firewall-policy-id="firewallPolicyId" :v-type="'white'"></ip-list-bind-box></div>
    </second-menu>

    <p class="ui message warning" v-if="!wafIsOn">当前WAF未启用，设置将在<a :href="'/servers/server/settings/waf?serverId=' + serverId">[启用]</a>后生效。</p>

    <p class="comment" v-if="items.length == 0">暂时还没有IP。</p>
    <ip-list-table v-if="items.length > 0" :v-items="items" @update-item="updateItem" @delete-item="deleteItem"></ip-list-table>

    <div class="page" v-html="page"></div>
    {$end}
</div>