{$layout "layout_popup"}

<h3>修改IP</h3>

<form method="post" class="ui form" data-tea-action="$" data-tea-success="success">
	<input type="hidden" name="itemId" :value="item.id"/>
	<csrf-token></csrf-token>
	<table class="ui table definition selectable">
		<tr>
			<td class="title">开始IP *</td>
			<td>
				<input type="text" name="ipFrom" maxlength="64" placeholder="x.x.x.x" ref="focus" v-model="item.ipFrom"/>
			</td>
		</tr>
		<tr>
			<td>结束IP</td>
			<td>
				<input type="text" name="ipTo" maxlength="64" placeholder="x.x.x.x" v-model="item.ipTo"/>
				<p class="comment">表示IP段的时候需要填写此项。</p>
			</td>
		</tr>
		<tr>
			<td colspan="2"><more-options-indicator></more-options-indicator></td>
		</tr>
		<tbody v-show="moreOptionsVisible">
			<tr>
				<td>过期时间</td>
				<td>
					<datetime-input :v-name="'expiredAt'" :v-timestamp="item.expiredAt"></datetime-input>
					<p class="comment">在加入名单某一段时间后会失效，留空表示永久有效。</p>
				</td>
			</tr>
			<tr>
				<td>备注</td>
				<td><input type="text" name="reason" maxlength="100" v-model="item.reason"/></td>
			</tr>
		</tbody>
	</table>
	<submit-btn></submit-btn>
</form>