.ui.message {
	.icon.remove {
		position: absolute;
		right: 1em;
		top: 2.2em;
	}

	.content {
		padding-right: 1em;
	}
}

.node-logs-box {
	max-height: 14em;
	overflow-y: auto;
}

.node-logs-box::-webkit-scrollbar {
	width: 4px;
}