{$layout}
{$template "menu"}

<div class="ui message" v-if="isLoading">正在加载中...</div>

<div class="ui message small warning" v-if="tables.length > 0">
    <p>请确认数据表用途后再执行相关操作。</p>
</div>

<table class="ui table selectable" v-if="tables.length > 0">
    <thead>
        <tr>
            <th>数据表名<sort-arrow name="orderTable"></sort-arrow></th>
            <th>占用空间<sort-arrow name="orderSize"></sort-arrow></th>
            <th>用途</th>
            <th class="two op">操作</th>
        </tr>
    </thead>
    <tr v-for="table in tables">
        <td>{{table.name}}</td>
        <td>{{table.size}}
            <span class="grey small" v-if="table.rows > 0">（{{table.rows}}行）</span>
        </td>
        <td>{{table.comment}}</td>
        <td>
            <a href="" v-if="table.canDelete" @click.prevent="deleteTable(table.name)">删除</a><span v-if="table.canDelete"> &nbsp;</span>
            <a href="" v-if="table.canClean" @click.prevent="truncateTable(table.name)">清空</a>
        </td>
    </tr>
</table>