{$layout}
{$template "/left_menu_top"}

<div class="right-box without-tabbar">
	{$template "../waf_menu"}
	{$template "menu"}

	<p class="comment" v-if="items.length == 0">暂时还没有IP。</p>

	<table class="ui table selectable celled" v-if="items.length > 0">
		<thead>
			<tr>
				<th>IP</th>
				<th>过期时间</th>
				<th>备注</th>
				<th class="two op">操作</th>
			</tr>
		</thead>
		<tr v-for="item in items">
			<td>{{item.ipFrom}}<span v-if="item.ipTo.length > 0"> - {{item.ipTo}}</span></td>
			<td>
				<span v-if="item.expiredTime.length > 0">{{item.expiredTime}}</span>
				<span v-else class="disabled">不过期</span>
			</td>
			<td>
				<span v-if="item.reason.length > 0">{{item.reason}}</span>
				<span v-else class="disabled">-</span>
			</td>
			<td>
				<a href="" @click.prevent="updateItem(item.id)">修改</a> &nbsp;
				<a href="" @click.prevent="deleteItem(item.id)">删除</a>
			</td>
		</tr>
	</table>

	<div class="page" v-html="page"></div>
</div>