<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>初始化系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    {$TEA.VUE}
    {$TEA.SEMANTIC}
    <script type="text/javascript" src="/js/md5.min.js"></script>
    <script type="text/javascript" src="/js/utils.min.js"></script>
    <script type="text/javascript" src="/js/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="/js/components.js"></script>
</head>
<body>
<div>
    <div class="form-box">
        <form method="post" class="ui form" data-tea-action="$" data-tea-success="success" autocomplete="off">
            <csrf-token></csrf-token>
            <div class="ui segment stacked">
                <div class="ui header">
                   设置管理员初始密码
                    <p class="comment">由于你是第一次登录，所以需要设置管理员用户名和密码。</p>
                </div>
                <div class="ui field">
                    <div class="ui left icon input">
                        <i class="ui user icon small"></i>
                        <input type="text" name="username" v-model="username" placeholder="请输入用户名" maxlength="200" />
                    </div>
                </div>
                <div class="ui field">
                    <div class="ui left icon input">
                        <i class="ui lock icon small"></i>
                        <input type="text" name="password" placeholder="请输入密码" maxlength="200" v-model="password"/>
                    </div>
                </div>

                <button class="ui button primary fluid" type="submit">保存用户名密码</button>
            </div>
        </form>
    </div>

</div>

</body>
</html>