{$layout "layout_popup"}

<h3>修改DNS服务商账号</h3>
<form class="ui form" data-tea-action="$" data-tea-success="success">
	<csrf-token></csrf-token>
	<input type="hidden" name="providerId" :value="provider.id"/>
	<input type="hidden" name="type" :value="provider.type"/>
	<table class="ui table definition selectable">
		<tr>
			<td class="title">账号说明 *</td>
			<td>
				<input type="text" name="name" maxlength="50" ref="focus" v-model="provider.name"/>
				<p class="comment">用来方便区分不同的账号。</p>
			</td>
		</tr>
		<tr>
			<td>服务商厂家 *</td>
			<td>
				{{provider.typeName}}
				<p class="comment">{{typeDescription}}创建后无法修改此选项。</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">API参数</td>
		</tr>

		<!-- DNSPod -->
		<tbody v-if="provider.type == 'dnspod'">
			<tr>
				<td>密钥ID *</td>
				<td>
					<input type="text" name="paramId" maxlength="100" v-model="provider.params.id"/>
					<p class="comment">获取方法参考：<a href="https://docs.dnspod.cn/account/5f2d466de8320f1a740d9ff3/" target="_blank">文档</a> </p>
				</td>
			</tr>
			<tr>
				<td>密钥Token *</td>
				<td>
					<input type="text" name="paramToken" maxlength="100" v-model="provider.params.token"/>
					<p class="comment">获取方法参考：<a href="https://docs.dnspod.cn/account/5f2d466de8320f1a740d9ff3/" target="_blank">文档</a> </p>
				</td>
			</tr>
		</tbody>

		<!-- AliDNS -->
		<tbody v-if="provider.type == 'alidns'">
			<tr>
				<td>AccessKeyId *</td>
				<td>
					<input type="text" name="paramAccessKeyId" maxlength="100" v-model="provider.params.accessKeyId"/>
					<p class="comment">登录阿里云控制台 -- 在"访问控制"中创建和获取。</p>
				</td>
			</tr>
			<tr>
				<td>AccessKeySecret *</td>
				<td>
					<input type="text" name="paramAccessKeySecret" maxlength="100" v-model="provider.params.accessKeySecret"/>
					<p class="comment">登录阿里云控制台 -- 在"访问控制"中创建和获取。</p>
				</td>
			</tr>
		</tbody>

        <!-- 华为云 -->
        <tbody v-if="provider.type == 'huaweiDNS'">
            <tr>
                <td>AccessKeyId *</td>
                <td>
                    <input type="text" name="paramHuaweiAccessKeyId" maxlength="100" v-model="provider.params.accessKeyId"/>
                    <p class="comment">登录华为云控制台 -- 在"我的凭证 -- 访问密钥"中创建和获取。</p>
                </td>
            </tr>
            <tr>
                <td>AccessKeySecret *</td>
                <td>
                    <input type="text" name="paramHuaweiAccessKeySecret" maxlength="100" v-model="provider.params.accessKeySecret"/>
                    <p class="comment">登录华为云控制台 -- 在"我的凭证 -- 访问密钥"中创建和获取。</p>
                </td>
            </tr>
        </tbody>


        <!-- CloudFlare -->
        <tbody v-if="provider.type == 'cloudFlare'">
            <tr>
                <td>API密钥 *</td>
                <td>
                    <input type="text" name="cloudFlareAPIKey" maxlength="100" v-model="provider.params.apiKey"/>
                    <p class="comment">在个人资料中的"API令牌"--"API密钥"--"Global API Key"中获取。</p>
                </td>
            </tr>
            <tr>
                <td>账号邮箱 *</td>
                <td>
                    <input type="text" name="cloudFlareEmail" maxlength="100" v-model="provider.params.email"/>
                    <p class="comment">登录账号使用的邮箱。</p>
                </td>
            </tr>
        </tbody>

        <!-- Edge DNS -->
        <tbody v-if="provider.type == 'localEdgeDNS'">
            <tr>
                <td>选择域名服务集群 *</td>
                <td>
                    <select class="ui dropdown auto-width" name="paramLocalEdgeDNSClusterId" v-model="provider.params.clusterId">
                        <option value="0">[选择域名服务集群]</option>
                        <option v-for="cluster in nsClusters" :value="cluster.id">{{cluster.name}}</option>
                    </select>
                </td>
            </tr>
        </tbody>

        <!-- 自定义HTTP-->
        <tbody v-if="provider.type == 'customHTTP'">
        <tr>
            <td>HTTP URL *</td>
            <td>
                <input type="text" name="paramCustomHTTPURL" maxlength="200" v-model="provider.params.url"/>
                <p class="comment">HTTP URL完整地址，DNS所有操作都会以POST的方式转发到此地址。</p>
            </td>
        </tr>
        <tr>
            <td>私钥 *</td>
            <td>
                <input type="text" name="paramCustomHTTPSecret" maxlength="64" v-model="provider.params.secret"/>
                <p class="comment">通讯用的私钥，转发请求时会在Header中加入相关信息，方便开发者校验请求是否合法。</p>
            </td>
        </tr>
        </tbody>
	</table>

	<submit-btn></submit-btn>
</form>