{$layout}
{$template "menu"}

<form method="post" class="ui form" data-tea-action="$" data-tea-success="success">
    <csrf-token></csrf-token>
	<input type="hidden" name="addrId" :value="addr.id"/>
	<table class="ui table definition selectable">
		<tr>
			<td class="title">IP地址 *</td>
			<td>
				<input type="text" name="ip" maxlength="128" ref="focus" v-model="addr.ip"/>
			</td>
		</tr>
		<tr>
			<td>是否可以访问</td>
			<td>
				<div class="ui checkbox">
					<input type="checkbox" name="canAccess" value="1" v-model="addr.canAccess"/>
					<label></label>
				</div>
				<p class="comment">是否为可以公开访问的IP，如果选中，也会作为DNS解析记录的值使用。</p>
			</td>
		</tr>
        <tr>
            <td>是否启用</td>
            <td>
                <div class="ui checkbox">
                    <input type="checkbox" name="isOn" value="1" v-model="addr.isOn"/>
                    <label></label>
                </div>
                <p class="comment">选中表示当前IP有效。</p>
            </td>
        </tr>
        <tr>
            <td class="title">名称</td>
            <td>
                <input type="text" name="name" maxlength="50" v-model="addr.name"/>
            </td>
        </tr>
        <tr>
            <td>在线状态</td>
            <td>
                <select class="ui dropdown auto-width" name="isUp" v-model="addr.isUp">
                    <option value="1">在线</option>
                    <option value="0">离线</option>
                </select>
            </td>
        </tr>
        <tr v-if="teaIsPlus && supportThresholds">
            <td>阈值设置</td>
            <td>
                <node-ip-address-thresholds-box :v-thresholds="addr.thresholds"></node-ip-address-thresholds-box>
            </td>
        </tr>
	</table>
	<submit-btn></submit-btn>
</form>