{$layout}

<first-menu>
    <menu-item href="/servers">网站列表</menu-item>
    <span class="item disabled">|</span>
    <menu-item :href="'/servers/server/log?serverId=' + server.id" active="true">"{{server.name}}"日志</menu-item>
    <span class="disabled item">|</span>
    <more-items-angle
            :v-data-url="'/servers/nearby?serverId=' + server.id"
            :v-url="'/servers/server/log?serverId=${serverId}'"></more-items-angle>
</first-menu>

{$template "/left_menu_with_menu"}
<div class="right-box with-menu">
    <!-- 集群设置提醒 -->
    <div v-if="!clusterAccessLogIsOn">
        <div class="margin"></div>
        <warning-message>当前集群已经设置不允许网站记录访问日志，可以在"集群设置" -- "网站设置"中修改此选项。</warning-message>
    </div>

    <!-- 网站设置提醒 -->
    <div v-if="!serverAccessLogIsOn">
        <div class="margin"></div>
        <warning-message>当前网站尚未启用访问日志，可以在 <a :href="'/servers/server/settings/accessLog?serverId=' + serverId">[这里]</a> 修改。</warning-message>
    </div>

    <form method="get" class="ui form small" :action="path" autocomplete="off">
        <input type="hidden" name="serverId" :value="serverId"/>
        <http-access-log-search-box :v-ip="ip" :v-domain="domain" :v-keyword="keyword"  :v-cluster-id="clusterId" :v-node-id="nodeId"></http-access-log-search-box>
    </form>

	<p class="comment" v-if="isLoaded && accessLogs.length == 0">今天暂时还没有访问日志。</p>

	<table class="ui table selectable" v-if="accessLogs.length > 0">
		<!-- 这里之所以需要添加 :key，是因为要不然不会刷新显示 -->
		<tr v-for="accessLog in accessLogs" :key="accessLog.requestId">
			<td><http-access-log-box :v-access-log="accessLog" :v-keyword="keyword"></http-access-log-box></td>
		</tr>
	</table>
</div>