{$layout}

{$template "/left_menu"}
<div class="right-box">
    <form method="get" class="ui form small" :action="path" autocomplete="off">
        <input type="hidden" name="serverId" :value="serverId"/>
        <http-access-log-search-box :v-ip="ip" :v-domain="domain" :v-keyword="keyword"></http-access-log-search-box>
    </form>

	<p class="comment" v-if="isLoaded && accessLogs.length == 0">今天暂时还没有访问日志。</p>

	<table class="ui table selectable" v-if="accessLogs.length > 0">
		<!-- 这里之所以需要添加 :key，是因为要不然不会刷新显示 -->
		<tr v-for="accessLog in accessLogs" :key="accessLog.requestId">
			<td><http-access-log-box :v-access-log="accessLog" :v-keyword="keyword"></http-access-log-box></td>
		</tr>
	</table>
</div>