{$layout "layout_popup"}

<h3>创建密钥</h3>
<form class="ui form" data-tea-action="$" data-tea-success="success">
    <csrf-token></csrf-token>
    <input type="hidden" name="domainId" :value="domainId"/>
    <table class="ui table definition selectable">
        <tr>
            <td class="title">密钥名称 *</td>
            <td>
                <input type="text" name="name" ref="focus"/>
            </td>
        </tr>
        <tr>
            <td>算法 *</td>
            <td>
                <select class="ui dropdown auto-width" name="algo">
                    <option value="">[选择算法]</option>
                    <option v-for="algo in algorithms" :value="algo.code">{{algo.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>密码 *</td>
            <td>
                <div style="margin-bottom: 1em">
                    <radio name="secretType" value="clear" :v-value="'clear'" v-model="secretType">明文密码</radio>
                    &nbsp; &nbsp;
                    <radio name="secretType" value="base64" :v-value="'base64'" v-model="secretType">Base64密码</radio>
                </div>
                <textarea name="secret" maxlength="256" v-model="secret" rows="3"></textarea>
                <p class="comment" v-if="secretType == 'clear'">客户端需要将明文转换为BASE64使用。</p>
                <div style="margin-top: 1em">
                    <a href="" @click.prevent="generateSecret">[随机生成]</a>
                </div>
            </td>
        </tr>
    </table>
    <submit-btn></submit-btn>
</form>